/* * {
    outline: 2px solid red;
} */

#title-page-center {
    text-align: center;
    padding: 20px;
}

.title-page{
    display: block;
    margin: 10px;
    padding: 50px;
}

.title {
    background-color: black;
    color: white;
    text-align: center;
}

.recipe-names {
    background-color: yellow;
    text-align: center;
    margin: 20px;
}

.description {
    font-style: italic;
}

.img-center {
    text-align: center;
}